@import url(./variables/global.scss);
@import url(./themes/light.scss);
@import url(./themes/dark.scss);
@import url(reset.scss);

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  color: var(--font-color);
  min-height: 100vh;
}

.mans {
  font-size: 15px;
}