.app_light_theme {
    --bg-color: antiquewhite;
    --inverted-bg-color: royalblue;
    --font-color: darkblue;
    --primary-color: #52c4ff;
    --secondary-color: #19a7d2;
    --inverted-primary-color: #eea57e;
    --inverted-secondary-color: #d7744d;
}
