.app.light {
    --bg-color: antiquewhite;
    --inverted-bg-color: royalblue;
    --font-color: darkblue;
    --primary-color: skyblue;
    --secondary-color: #3cb7d3;
    --inverted-primary-color: #eea57e;
    --inverted-secondary-color: #d7744d;
}
