.app_dark_theme {
    --bg-color: royalblue;
    --inverted-bg-color: antiquewhite;
    --font-color: white;
    --primary-color: #eea57e;
    --secondary-color: #d7744d;
    --inverted-primary-color: skyblue;
    --inverted-secondary-color: #3cb7d3;
    --skeleton-color: #008ed5;
    --skeleton-shadow: #4f9ec9;
    --code-bg: #7096ff;
    --card-bg: #0744ff;
    --inverted-card-bg: #fd782b;
    --listbox-bg: #0744ff;
}
