.app_light_theme {
  --bg-color: antiquewhite;
  --inverted-bg-color: royalblue;
  --font-color: darkblue;
  --primary-color: #52c4ff;
  --secondary-color: #19a7d2;
  --inverted-primary-color: #eea57e;
  --inverted-secondary-color: #d7744d;
  --skeleton-color: #d54b1a;
  --skeleton-shadow: #d56940;
  --code-bg: #fff;
  --card-bg: #fdd5a1;
  --inverted-card-bg: #15a7fd;
  --listbox-bg: #fdd5a1;
}
