.Card {
    padding: 15px;
    border-radius: 12px;
}

.primary {
    background: var(--card-bg);
}

.outline {
    border: 2px solid var(--card-bg);
}

.inverted {
    background: var(--inverted-card-bg);
}

.invertedOutline {
    border: 2px solid var(--inverted-card-bg);
}

.max {
    width: 100%;
}
